.nav {
	background-color:#2e91d4;
}

.nav a {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav li {
	color: #FFFFFF;
	display: inline;
}

.container h1 {
	color: #2e91d4;
}

.jumbotron {
	background-image:url('http://cache3.asset-cache.net/xc/453309437.jpg?v=2&c=IWSAsset&k=2&d=fePFJ4FtqOv4dCbA732Uy7KpFjDozOQFpEw_XH3o79Q1');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron .container .planner{
	/*position the box closer in*/
}

.container .directions h3 {
	color: #2e91d4;
}

.container .ideas h3 {
	color: #2e91d4;
}

.footer {
	background-color:#2e91d4;
}

.footer a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.footer li {
	display: inline;
}

form {
    display: inline-block;
}

#button{
    display: inline-block;
    height:20px;
	width:70px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

.list {
	font-family:garamond;
	color:#cc0000;
}

body {
	background-color:#2e91d4;
}